/venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class
utils/age_model_weights.h5
utils/gender_model_weights.h5
/utils/age_frozen_model.pb
/utils/age_model_weights.h5
/utils/gender_frozen_model.pb
/utils/gender_model_weights.h5
/deb/
/utils/age_model.h5
/utils/gender_model.h5
/utils/gender_trt_graph.pb
/utils/age_trt_graph.pb
